
<div class="center hero-unit">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field" align="center">
      <div class="margeleft">
      <table>
        <tr>
            <td> <%= f.label :email %> </td>
          <td><%= f.email_field :email, autofocus: true %></td>

        </tr>

        <tr>
          <td><%= f.label :password %> </td>
          <td><%= f.password_field :password, autocomplete: "off", 'placeholder'=> "8 characters minimum" %></td>

        </tr>
        <tr>
          <td><h5 style="font-weight: lighter">Password</br> confirmation</h5></td>

          <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>

        </tr>
      </table>
      </div>
    </div>


      <%= f.submit "Sign up", class: "btn btn-primary" %>

  <% end %>
  <%= render "devise/shared/links" %>
</div>

