

<div class="hero-unit">
  <h2>Editing task</h2>
  <div class="field" align="center">
    <%= form_for :task, url: task_path(@task), method: :patch do |f| %>
        <% if @task.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@task.errors.count, "error") %> prohibited
                this task from being saved:
              </h2>
              <ul>
                <% @task.errors.full_messages.each do |msg| %>
                    <%= msg %></br>
                <% end %>
              </ul>

            </div>
        <% end %>

        <table >

          <tr align="right">
            <td>Title:  <%= f.text_field :title %> </td>
          </tr>

          <tr align="right">
            <td>Sections:    <%= f.select :section_id, options_from_collection_for_select(Section.all, :id, :name) %></td>
          </tr>

          <tr >
            <td> Text: </td>
          </tr>

          <tr align="right">

            <td> <%= f.text_area :text %> </td>
          </tr>

          <tr align="right">
            <td> Rating:    <%= f.number_field :rating , 'max'=>10, 'min'=>1%> </td>
          </tr>

          <tr ><td>Answer:</td></tr>

          <tr align="right" >
            <td><textarea  autocomplete="off" id="task_answers" name="task[answers][]"></textarea></td>
          </tr>

          <tr align="right">
            <td><textarea  autocomplete="off" id="task_answers" name="task[answers][]"></textarea></td>
          </tr>

          <tr align="right">
            <td><%= f.submit %></td>

          </tr>
          <tr align="right">
            <td><%= link_to 'Back', task_path %></td>
          </tr>



          <!--<div id = "answers">
      <%=f.text_area :answers, as: :array%>
      <button type="button" id= "plus" class="btn btn-success" >
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>-->

    <% end %>
    </table>
  </div>
</div>