<div class="center">
<h1 style="margin-bottom: 0%; ">Task Listing</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="center"><%= paginate @tasks %></div>
  <% @tasks.each do |task| %>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 center">
            <h3 style= "margin-top: 10%;"><%= link_to task.title, task_path(task) %></h3>
          </div>
          <div class="col-md-1"></div>
        </div>
        <hr class="hr1">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="pull-right">
              <h4>Section: </h4>
            </div>
          </div>
          <div class="col-md-3 center">
            <h4><%= task.section.name %></h4>
          </div>
          <div class="col-md-4"></div>
        </div>
        <hr class="hr1">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="pull-right">
              <h4>Author: </h4>
            </div>
          </div>
          <div class="col-md-3 center">
            <h4><%= get_author_email_or_nick(task.author_id) %></h4>
          </div>
          <div class="col-md-4"></div>
        </div>
        <hr class="hr1">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="pull-right">
              <h4>Rating: </h4>
            </div>
          </div>
          <div class="col-md-3 center">
            <h4><%= task.rating %></h4>
          </div>
          <div class="col-md-4"></div>
        </div>
        <hr class="hr1">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3 ">
            <div class="pull-right">
              <h4>Mark: </h4>
            </div>
          </div>
          <div class="col-md-3 center">
            <% if check_on_set_task(task) %>
                <h4><%= task.mark %></h4>
            <% else %>
                <h4><font color="red"><i>Please, set mark)</i></font></h4>
            <% end %>
          </div>
          <div class="col-md-4"></div>
        </div>
        <hr class="hr1">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 center">
            <h5><%= raw task.tag_list.map { |t| link_to t , tag_path(t)}.join(', ') %></h5>
          </div>
          <div class="col-md-2"></div>
        </div>
        <hr class="hr1">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h4>Condition:</h4>
            <div style = "outline: 2px solid #eeeeee; margin-top: 5%; width: 100%;">
              <%= markdown(task.text)%>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        <% if current_user.id == task.author_id %>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="center">
              <%= link_to 'Edit', edit_task_path(task), :class => "btn btn-primary" %>
            </div>
          </div>
          <div class="col-md-2" style="margin-bottom: 5%;">
            <div class="pull-right">
                <%= link_to 'Destroy', task_path(task),
                            method: :delete,
                            data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        <% end %>
        <hr class="hr2">
    <% end %>
      </div>
  <div class="col-md-6">
    <div id = "tag_cloud">
      <% tag_cloud Task.tag_counts, %w(s m l) do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class , :style => "margin-left: 4%;" %>
      <% end %>

    </div>
  </div>
</div>
