
<div class="row" style="margin-bottom: 4%;">
  <div class="col-md-4"></div>
  <div class="col-md-4"><h2><%= t('edit_new_task.paragraph_n') %></h2></div>
  <div class="col-md-4"></div>
</div>
  <%= form_for :task, url: tasks_path do |f| %>
      <% if @task.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@task.errors.count, "error") %><%= t('edit_new_task.error') %>
              </h2>
              <ul>
                <% @task.errors.full_messages.each do |msg| %>
                    <%= msg %></br>
                <% end %>
              </ul>

            </div>
        <% end %>
<div class="row">
  <div class="col-md-4" style = "margin-top: 2%;" >
    <div class="row">
      <div class="col-md-3">
        <div class="pull-right" style="margin-top: 2%; margin-bottom: 4%" >
          <%= t('task.title') %>
        </div>
      </div>
      <div class="col-md-9">
        <%= f.text_field :title , :class=>'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="pull-right" style="margin-top: 4%; margin-bottom: 4%" >
          <%= t('task.section') %>
        </div>
      </div>
      <div class="col-md-9">
        <%= f.collection_select :section_id, Section.all, :id, :name ,{prompt: "Select a category"}, {class: 'bs-select form-control'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="pull-right" style="margin-top: 2%; margin-bottom: 4%" >
          <%= t('task.rating') %>
        </div>
      </div>
      <div class="col-md-9">
        <%= f.number_field :rating , 'max'=>10, 'min'=>1, :class=>'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="pull-right" style="margin-top: 2%; margin-bottom: 4%" >
          <%= t('task.tags') %>
        </div>
      </div>
      <div class="col-md-9">
        <%= f.text_field :tag_list, :class => 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="pull-right">
          <%= t('task.answers') %>
        </div>
      </div>
      <div class="col-md-9">
        <div class = "answers" id="count">

          <div class="input-group">
            <input type="text" class="text optional form-control" name="task[answers][]" value="" id="task_" />
            <span class="input-group-btn">
              <div class="remove_field">
                <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </span>
          </div>

        </div>
        <div class="center">
          <button type="button" id= "plus" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" ></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="pull-left">
      <%= t('task.text') %>
    </div><br>
    <%= f.text_area :text, 'data-provide'=>'markdown', :rows=>'12' %><br><br>
    <%= f.submit t('buttons.save'), class: "btn btn-primary pull-left"  %>
  </div>
  <div class="col-md-1"></div>
</div>

<% end %>
</div>
