<h1>New Task</h1>
<%= form_for :task, url: tasks_path do |f| %>
    <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@task.errors.count, "error") %> prohibited
            this task from being saved:
          </h2>
          <ul>
            <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

        <p>
        <%= f.label :sections %><br>

        </p>

    <%= f.select :section_id, options_from_collection_for_select(Section.all, :id, :name) %>
    
    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.label :rating %><br>
      <%= f.number_field :rating , 'max'=>10, 'min'=>1%>
    </p>


    <!--<div id = "answers">
      <%=f.text_area :answers, as: :array%>
      <button type="button" id= "plus" class="btn btn-success" >
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>-->

    <p>
      <%= f.submit %>
    </p>
<% end %>

