<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Text:</strong>
  <%=markdown(@task.text) %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @task.rating %>
</p>
<p>
  <strong>Section:</strong>
  <%= @task.section.name %>
</p>
<%= link_to 'Back', tasks_path %>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Destroy', task_path(@task),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>