<table width="40%" class=margin-left>
  <tr >
    <td width="10%"><h4><%=@task.title%><br><br>
      Rating: <%= @task.rating %></h4></td>
  </tr>

  <tr>
    <td><h4>Section: <%= @task.section.name %></h4></td>
  </tr>

  <tr>
    <td width="40%"><%=markdown(@task.text)%></td>
  </tr>

  <% if current_user.id == @task.author_id %>
      <tr>
          <td><h4>Answers:</h4></td>
      </tr>

        <% @task.answers.each do |a| %>
          <tr><td><%= a %></br></td></tr>
        <% end %>

      <tr>
        <td></br> <%= link_to 'Edit', edit_task_path(@task) %>
             <%= link_to 'Destroy', task_path(@task),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
  <% end %>
            <%= link_to 'Back', tasks_path %></td>
        </tr>


</table>