<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <h3>My task</h3>
    <% @tasks.each do |task| %>
        <h2><%= link_to task.title, task_path(task) %></h2>
        <h4>Solved: <font color="#228b22" ><%= Attempt.where({ task_id: task.id, status: true }).count %></font><br>
          Unsolved: <font color="red" ><%= Attempt.where({ task_id: task.id, status: false }).count %></font><br>
          Rating: <%= task.rating %><br>
          Mark: <%= task.mark %><br>
          Section: <%= task.section.name %><br>
          Condition:</h4>
        <div style = "outline: 2px solid #000;">
          <%=markdown(task.text)%>
        </div>
        <br> <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', task_path(task), class: 'btn btn-primary',
                    method: :delete,
                    data: { confirm: 'Are you sure?' }%>
        <div style="color: blue;"><hr></div>

    <% end %>
  </div>


</div>