<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <h2><%= t('home_page.top_tasks') %></h2>
    <% @tasks.each do |t| %>
        <font color="#1e90ff"><h3><%= link_to t.title, task_path(t) %></h3></font>
        <h4><%= t('task.solved') %><font color="#228b22" ><%= Attempt.where({ task_id: t.id, status: true }).count %></font><br>
          <%= t('task.unsolved') %><font color="red" ><%= Attempt.where({ task_id: t.id, status: false }).count %></font><br>
          <%= t('task.rating') %><%= t.rating %><br>
          <%= t('task.mark') %><%= t.mark %><br>
          <%= t('task.section') %><%= t.section.name %><br><br>
          <%= t('task.condition') %></h4>
        <div style = "outline: 1px solid #666;">
          <%=markdown(t.text)%>
        </div>
        <br>
        <%if current_user%>
        <% if current_user.id == t.author_id %>
            <%= link_to t('buttons.edit'), edit_task_path(t), class: 'btn btn-primary' %>
            <%= link_to t('buttons.destroy'), task_path(t), class: 'btn btn-primary',
                        method: :delete,
                        data: { confirm: t('task_List.confirm_destr') }%>
        <% end %>
        <% end %>
        <div style="color: blue;"><hr></div>

    <% end %>
  </div>



  <div class="col-md-2"></div>


  <div class="col-md-4">
    <h2><%= t('home_page.top_users') %></h2>
    <% @users.each do |u| %>
        <% if u.nickname != "" %>
            <h3><%= t('home_page.nickname') %>:  <%= link_to u.nickname, user_path(u) %></h3>
        <% else %>
            <h3>E-mail: <%= link_to u.email, user_path(u) %></h3>
        <% end %>
        <h3><%= t('home_page.user_rating') %> <%= u.rating %></h3>
        <hr>
    <% end %>
  </div>
  <div class="col-md-1"></div>

</div>