<!DOCTYPE html>
<html>
<head>
  <title>CourseWork</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% if current_user.present? %>
      <% if current_user.theme == 0 %>
          <%= stylesheet_link_tag 'theme1', media: 'screen' %>
      <% else %>
          <%= stylesheet_link_tag 'theme2', media: 'screen' %>
      <% end %>
  <% else %>
      <%= stylesheet_link_tag 'theme1', media: 'screen' %>
  <% end %>

  <%= stylesheet_link_tag    'application', 'token-input', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'jquery.tokeninput', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%= link_to t('layout.home_page'), root_path, :class => "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav pull-right">
                <% if user_signed_in? %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to t('layout.my_page'), user_path(current_user.id) %></li>
                        <li class="divider"></li>
                        <li><%= link_to t('layout.new_task'), new_task_path %></li>
                        <li><%= link_to t('layout.my_tasks'), mytask_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to t('layout.log_out'), destroy_user_session_path, :method => :delete %></li>
                      </ul>
                    </li>

                    <li><%= link_to t('layout.all_tasks'), tasks_path %></li>
                    <li><%= link_to t('layout.settings') %></li>

                <% else %>
                    <li><%= link_to t('layout.sign_in'), new_user_session_path %></li>
                    <li><%= link_to t('layout.sign_up'), new_user_registration_path %></li>
                <% end %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toglge="dropdown">Settings<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>Dark Theme</li>
                    <li class="divider"></li>
                    <li>Light Theme</li>
                  </ul>

                </li>
              </ul>
          <div style = "margin-top: 7px;">
            <%= form_for search_path, method: :get do |f|%>
                <form class="navbar-form navbar-right" role="search">
                  <div class="input-group ">
                    <span class="input-group-btn">
                        <%= submit_tag t('layout.search_btn'), name: nil, :class => "btn btn-default", :id => "searchGo"%>
                    </span>
                    <%= text_field_tag :q, params[:q], :class => "form-control ", :id => "searchField" , :placeholder => t('layout.search_for'), :style => "width: 170px;" %>
                  </div>
                </form>
            <% end %>

          </div>
        </div>
      </div>
    </nav>


    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
</head>
<body>

<%= yield %>

</body>
</html>

