<!DOCTYPE html>
<html>
<head>
  <title>CourseWork</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Foobar Development</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav pull-left">
            <li><%= link_to 'Home page', root_path %></li>
          </ul>
          <ul class="nav navbar-nav pull-right" >
            <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'My page', user_path(current_user.id) %></li>
                      <li class="divider"></li>
                      <li><%= link_to 'New task', new_task_path %></li>
                      <li><%= link_to 'My tasks', mytask_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
                    </ul>
                </li>
                <li><%= link_to 'All Tasks', tasks_path %></li>
                <li><%= link_to 'Settings', edit_user_path(current_user.id)  %></li>
            <% else %>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>

          </ul>



          <form class="navbar-form navbar-right" role="search">

            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
              <input type="text" class="form-control" placeholder="Search for...">
            </div>

          </form>



          </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
</head>
<body>

<%= yield %>

</body>
</html>

